BETTER_AUTH_SECRET="dev-secret-at-least-32-characters-long-for-local"
BETTER_AUTH_URL="http://localhost:5173"
SUMOPOD_API_KEY="this_is_secret"
SUMOPOD_WEBHOOK_TOKEN="whtok_secret_token_123"
SUMOPOD_WEBHOOK_SECRET="whsec_secret_token_123"
